*~
*.swp
*.class
classjava.stamp
psi-pipe
test_runner
common/config.hpp
cppcheck-result.xml
vera++-result.xml
build/*
server/t/reports/*
*.so
*.bis.cpp
lex.*.cpp
server/website*/storage/*
\#*\#
bindings/python/Test/__pycache__
gcov.output.data
tools/lemmatizers/sfst/data/tr.a
tools/lemmatizers/hfst/data/*.hfst.ol
tools/lexica/bilexicon/data/plen.bin
tools/taggers/metagger/t/files/pl.blm
bindings/python/Test/test.pyc
