*~
*.swp
*.class
classjava.stamp
psi-pipe
test_runner
common/config.hpp
cppcheck-result.xml
vera++-result.xml
build/*
server/t/reports/*
*.so
*.bis.cpp
server/website/storage/*
\#*\#
bindings/python/Test/__pycache__
gcov.output.data
tools/lexica/bilexicon/data/plen.bin
